{% extends "layouts/main.html" %}

{% set serviceName = "Remove joint owner" %}  

{% block pageTitle %}
  Start page template – {{ serviceName }} – HMLR Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        tell us once - update property records
      </h1>

      <p class="govuk-body-l">This prototype starts from the point where the user has already saved their progress in tell us once telling Gov about vehicles, benefits, taxes, and is now continuing at the point of updating property records.</p>

      <p class="govuk-body-l"><a href="01-task-list">Continue in tell us once to update property records</a></p>

      
    </div>
  </div>

{% endblock %}
