{% extends "layouts/main-hmlr.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – HMLR Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Conceptual work
      </h1>

      <p class="govuk-body-l">New conceptual work, and historical design work which informs the vision for digital services (service vision 2024).</p>

      <h2 class="govuk-heading-l"></h2>

      <h3 class="govuk-heading-m">Remove owner</h3>
    	<p>DJP - Deceased joint proprietor</p>
    	<p>Currently a paper application</p>
    	<p>Removing the deceased proprietor as a full digital sub service as part of Gov tell-us-once.  As demonstrated in the Design Service vision presentation April 2024)</p>
    	<img src="/public/images/remove-owner-diagram.png" width="640px" alt="">
    	<p><a href="remove-owner/">Try the remove owner service</a></p> 

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Design resources
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                figma files
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
